@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #3054fd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-satoshi), var(--font-jakarta), var(--font-montserrat), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}